<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Words World</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="footer">
    <div class="container">

        <hr class="footer-line">
        <div class="row">
            <!-- footer-about -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="footer-widget">
                    <div class="footer-title">Guess the Word</div>
                    <ul class="list-unstyled">
                        <li><a href="#" aria-label="About">About</a></li>
                        <li><a href="#" aria-label="Support">Support</a></li>
                        <li><a href="#" aria-label="Press">Press</a></li>
                        <li><a href="#" aria-label="Legal & Privacy">Legal & Privacy</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-about -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="footer-widget">
                    <div class="footer-title">Quick Links</div>
                    <ul class="list-unstyled">
                        <li><a href="#" aria-label="News">News</a></li>
                        <li><a href="#" aria-label="Contact us">Contact us</a></li>
                        <li><a href="#" aria-label="FAQ">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="footer-widget">
                    <div class="footer-title">Social</div>
                    <ul class="list-unstyled">
                        <li><a href="#" aria-label="Twitter">Twitter</a></li>
                        <li><a href="#" aria-label="Google +">Google +</a></li>
                        <li><a href="#" aria-label="Linked In">Linked In</a></li>
                        <li><a href="#" aria-label="Facebook">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6">
                <div class="footer-widget">
                    <h3 class="footer-title">To Subscribe</h3>
                    <form>
                        <div class="newsletter-form">
                            <input class="form-control" placeholder="Enter Your Email address" type="text" aria-label="Email address">
                            <button class="btn btn-default btn-sm" type="submit">Go</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- tiny-footer -->
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <div class="tiny-footer">
                    <p>Design & Development by Words World</p>
                </div>
            </div>
            <!-- /. tiny-footer -->
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
