<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Words World</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link  th:href="@{css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<div th:replace="navbar"></div>

<div class="container">
    <div class="about-area row col-md-12">
        <div class="right-area col-md-6">

             <h1 style="color:Black">Guesss the Word to Win Big</h1>
            <p style="color:Black">Crack the clues, claim your prize!</p>
            <a style="color:Black" href="/signup"><button class="theme-buuton btn btn-primary">For Account</button></a>
            <a style="color:Black" href="/login"><button class="theme-buuton btn btn-primary">To Play</button></a>

        </div>

        <div class="col-md-6">
            <img style="padding:80px " class="img-image img-fluid" th:src="@{/aaa.jpg}">
        </div>
    </div>
</div>

<div th:replace="footer"></div>

<script th:href="@{js/bootstrap.bundle.min.js}" ></script>

</body>
</html>